<div class="container">
  <h1 class="title">Car insurance</h1>

  <span>{{loadedAccouns}}</span>
  <p *ngFor="let alert of alerts">
    <ngb-alert (close)="closeAlert(alert)"><b>{{alert.type}}</b> {{ alert.message }}</ngb-alert>
  </p>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 box-option" *ngFor="let option of options">
      <div class="text-option" (click)="displayedOption = option.id">
        <h3>{{option.name}}</h3>
      </div>
    </div>
  </div>

  <div class="field col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <label class="label">Account</label>
    <p class="control">
      <select [(ngModel)]="address" (ngModelChange)="onAddressChange($event)" name="address">
        <option *ngFor="let acct of accounts" [value]="acct.address">{{acct.firstName + " " + acct.lastName}}</option>
      </select>
    </p>
  </div>
  <div *ngIf="displayedOption == 'setupinsurance'" class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
    <form #setupInsuranceForm="ngForm">
      <div class="field">
        <label class="label">Vin</label>
        <p class="control">
          <select [ngModel]="vin" (ngModelChange)="onVinChange($event)" name="vin">
            <option *ngFor="let rCar of registeredCarsArray" [value]="rCar.vin">{{rCar.vin}}</option>
          </select>
        </p>
      </div>
      <div class="field">
        <label class="label">Value of car</label>
        <p class="control">
          <input
            [ngModel]="carValue"
            (ngModelChange)="onCarValueChange($event)"
            class="input"
            type="number"
            name="ValueCar"
            required
            #ValueCarModel="ngModel">
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button
            [disabled]="!setupInsuranceForm.valid"
            (click)="setupInsurance()"
            class="button is-primary">
            Insure car for day
          </button>
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button
            (click)="checkValidityOfInsurance()"
            class="button is-primary">
            Check validity
          </button>
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button
            (click)="checkInsurance()"
            class="button is-primary">
            Check insurance
          </button>
        </p>
      </div>
    </form>
  </div>
  <div *ngIf="displayedOption == 'settleinsurance'" class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
    <form #settleInsuranceForm="ngForm">
      <div>
        <table>
          <tr>
            <th>Vin</th>
            <th>Valid</th>
            <th>Date Expiry</th>
            <th>Amount</th>
          </tr>
          <tr *ngFor="let ins of insurances">
            <td>{{ ins.vin }}</td>
            <td>{{ ins.valid }}</td>
            <td>{{ ins.dateExpiry | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{ ins.amount }} USD</td>
          </tr>
        </table>
      </div>
      <div class="field">
        <label class="label">Vin</label>
        <p class="control">
          <select [ngModel]="vin" (ngModelChange)="onVinChange($event)" name="vin">
            <option *ngFor="let rCar of registeredCarsArray" [value]="rCar.vin">{{rCar.vin}}</option>
          </select>
        </p>
      </div>
      <div class="field">
        <label class="label">Damage</label>
        <p class="control">
          <input
            [(ngModel)]="carDamage"
            (ngModelChange)="onCarDamageChange($event)"
            class="input"
            type="number"
            name="DamageCar"
            required
            #DamageCarModel="ngModel">
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button
            [disabled]="!settleInsuranceForm.valid"
            (click)="settleInsurance()"
            class="button is-primary">
            Insure Car for day
          </button>
        </p>
      </div>
    </form>
  </div>


</div>
