<div class="container">
  <h1 class="title">Connected car data management</h1>

  <span>{{loadedAccouns}}</span>
  <p *ngFor="let alert of alerts">
    <ngb-alert (close)="closeAlert(alert)"><b>{{alert.type}}</b> {{ alert.message }}</ngb-alert>
  </p>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 box-option" *ngFor="let option of options">
      <div class="text-option" (click)="displayedOption = option.id">
        <h3>{{option.name}}</h3>
      </div>
    </div>
  </div>

  <div class="field col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <label class="label">Account</label>
    <p class="control">
      <select [(ngModel)]="address" (ngModelChange)="onAddressChange($event)" name="address">
        <option *ngFor="let acct of accounts" [value]="acct.address">{{acct.firstName + " " + acct.lastName}}</option>
      </select>
    </p>
  </div>

  <div *ngIf="displayedOption == 'register'" class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
    <form #registerForm="ngForm">
      <div class="field">
        <label class="label">Vin</label>
        <p class="control">
          <input
            [(ngModel)]="car.vin"
            class="input"
            type="text"
            placeholder="19UYA31581L000000"
            name="Vin"
            required
            #VinModel="ngModel">
        </p>
      </div>
      <div class="field">
        <label class="label">SPZ</label>
        <p class="control">
          <input
            [(ngModel)]="car.spz"
            class="input"
            type="text"
            placeholder="1A0 5678"
            name="SPZ"
            required
            #SPZModel="ngModel"
          >
        </p>
      </div>
      <div class="field">
        <label class="label">Brand</label>
        <p class="control">
          <input
            [(ngModel)]="car.brand"
            class="input"
            type="text"
            placeholder="Nissan"
            name="Brand"
            required
            #BrandModel="ngModel"
          >
        </p>
      </div>
      <div class="field">
        <label class="label">Model</label>
        <p class="control">
          <input
            [(ngModel)]="car.model"
            class="input"
            type="text"
            placeholder="GT-R"
            name="Model"
            required
            #ModelModel="ngModel"
          >
        </p>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <p class="control">
          <select [(ngModel)]="car.category" name="category">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button
            [disabled]="!registerForm.valid"
            (click)="registerAsCarOwner()"
            class="button is-primary">
            Register
          </button>
        </p>
      </div>
    </form>
  </div>
  <div *ngIf="displayedOption == 'updatekm'" class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
    <form #updateKmForm="ngForm">
      <div class="field">
        <label class="label">Vin</label>
        <p class="control">
          <select [ngModel]="vin" (ngModelChange)="onVinChange($event)" name="vin">
            <option *ngFor="let rCar of registeredCarsArray" [value]="rCar.vin">{{rCar.vin}}</option>
          </select>
        </p>
      </div>
      <div class="field">
        <label class="label">Distance</label>
        <p class="control">
          <input
            [(ngModel)]="car.distance"
            class="input"
            type="text"
            placeholder="590"
            name="Distance"
            required
            #DistanceModel="ngModel">
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button
            [disabled]="!updateKmForm.valid"
            (click)="updateDistance()"
            class="button is-primary">
            Update
          </button>
        </p>
      </div>
    </form>
  </div>
  <div *ngIf="displayedOption == 'showreg'">
    <table>
      <tr>
        <th>Name</th>
        <th>Vin</th>
        <th>SPZ</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Category</th>
        <th>Date registered</th>
        <th>Show</th>
      </tr>
      <tr *ngFor="let rCar of registeredCarsArray">
        <td>{{ rCar.firstName + " " + rCar.lastName }}</td>
        <td>{{ rCar.vin }}</td>
        <td>{{ rCar.spz }}</td>
        <td>{{ rCar.brand }}</td>
        <td>{{ rCar.model }}</td>
        <td>{{ rCar.category }}</td>
        <td>{{ rCar.dateRegistered | date:'dd.MM.yyyy HH:mm'}}</td>
        <td><div class="button-show button is-secondary"  (click)="showDataForVin(rCar.vin)">Show</div></td>
      </tr>
    </table>
    <div>
      <h4>Blockchain distance is {{distance}} km</h4>
    </div>
  </div>
</div>
